
/*MAPA*/
#mapa {width: 102%; height: 100%; margin: 0px; padding: 240px; background: #FFF;}
p {margin: 0px; padding: 0px;}
/*FIM MAPA*/

body{ 
   	font-family: Arial; 
} 
.navbar {
	margin-bottom: 100;
}

.wrapper {
	padding: 40px 0;
	background-color: #f5f5f5;
}

.artigo {
	padding: 15px 0;
	border-top: 1px solid #ddd;
}
.artigo:first-child {
	padding-top: 0;
	border-top: 0;
}


footer {
	padding: 20px 0;
	border-top: 1px solid #ddd;
}

.copyright {
	padding: 5px 0;
	background-color: #5e5e5e;
	color: #fff;
}
.copyright p {
	margin: 0; 
}

/*LAYOUT DO FORM DE LOGIN*/
.dpmaxz_hidden {visibility: hidden;}#dpmaxz_root {-webkit-user-select: none; display: inline-block; z-index: 2147483647;margin: 0;padding: 0;}#dpmaxz_gui {-webkit-user-select: none; position: static; margin: 0;padding: 0;cursor: default;}#dpmaxz_root .dpmaxz_mainbkg {display: block;position: absolute;cursor: default;margin: -25px 0 0 -32px;width: 50px;height: 24px;background: transparent url(chrome-extension://ncffjdbbodifgldkcbhmiiljfcnbgjab/) no-repeat;}#dpmaxz_root .dpmaxz_mainbkg .dpmaxz_fbishield {float: left;margin: -10px 0 0 3px;padding: 0;width: 29px;height: 37px;background: transparent url(chrome-extension://ncffjdbbodifgldkcbhmiiljfcnbgjab/images/mainimg.png) no-repeat;}#dpmaxz_root .dpmaxz_mainbkg .dpmaxz_fbiauthok {background: transparent url(chrome-extension://ncffjdbbodifgldkcbhmiiljfcnbgjab/images/mainimg_ok.png) no-repeat;}#dpmaxz_root .dpmaxz_mainbkg .dpmaxz_fbiauthno {background: transparent url(chrome-extension://ncffjdbbodifgldkcbhmiiljfcnbgjab/images/mainimg_no.png) no-repeat;}#dpmaxz_root .dpmaxz_mainbkg .dpmaxz_fbixchg {background: transparent url(chrome-extension://ncffjdbbodifgldkcbhmiiljfcnbgjab/images/mainxchg.png) no-repeat;}#dpmaxz_root .dpmaxz_mainbkg .dpmaxz_menuact {background: transparent url(chrome-extension://ncffjdbbodifgldkcbhmiiljfcnbgjab/images/mainmact.png) no-repeat;}#dpmaxz_root .dpmaxz_mainbkg .dpmaxz_fbiadd {height: 16px;width: 15px;float: right;background: transparent url(chrome-extension://ncffjdbbodifgldkcbhmiiljfcnbgjab/images/mainadd.png) no-repeat;margin: 0 -16px 0 0;}#dpmaxz_gui .dpmaxz_menus {position: absolute; z-index: 2147483647; }.dpmaxz_menusrel {position: relative; }#dpmaxz_gui .dpmaxz_menus ul {position: absolute; left: 0;top: 22px; list-style: none;white-space: nowrap;border: 1px solid #a0a0a0;background-image: -webkit-linear-gradient(top, rgb(240,245,255) 73%, white 100%);box-shadow: 4px 4px 4px -3px #605F70;font-family: 'Segoe UI',Verdana,Arial;font-style: normal;font-size: 1em;padding: 3px 3px;margin: 2px 4px 2px 4px;}#dpmaxz_gui .dpmaxz_menus ul li {text-decoration: none;text-align: left;margin: 0; padding: 0;}#dpmaxz_gui .dpmaxz_menus ul li:hover {border: 1px solid #aecff7;-webkit-border-radius: 4px;background-color: #edf1f6;margin: -1px;}#dpmaxz_gui .dpmaxz_menus .dpmaxz_menurow {position: relative;color: black;height: 22px;float: none; }#dpmaxz_gui .dpmaxz_menus .dpmaxz_menurow span {display: inline-block !important;  }#dpmaxz_gui .dpmaxz_menus .dpmaxz_menurowicon {display: inline-block;width: 26px;height: 22px;position: relative;vertical-align: top;border-right: 1px solid #e2e3e3;font-size: 12px; color: black; }#dpmaxz_gui .dpmaxz_menus .dpmaxz_menurowtext {display: inline-block;border-left: 1px solid #ffffff;padding: 0 4px;font: normal 1em 'Segoe UI',Verdana,Arial; font-size: 12px;height: 22px;vertical-align: middle;}.dpmaxz_highlight {-webkit-border-image: url(chrome-extension://ncffjdbbodifgldkcbhmiiljfcnbgjab/images/highlighter.png) 5 9 8 6 repeat;border-image: url(chrome-extension://ncffjdbbodifgldkcbhmiiljfcnbgjab/images/highlighter.png) 5 9 8 6 repeat;}

.form-signin {
  max-width: 400px;
  padding: 10px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}  
/* FIM LAYOUT DO FORM DE LOGIN*/



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: -10px;
  margin-top: -20px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

/*icons*/
.img-circle{position:relative}
.img-circle:hover{top:-2px;box-shadow:0 2px 2px #666}

h2 {
    color: #ffffff;
    text-shadow: black 0.1em 0.1em 0.2em;
}

/*cores do botão*/
#corPadrao{
	 color: #ffffff;
	 background-color:#FF8C00;
}

#corMenu{
	 background-color:#ffffff;
}

/*cores do links*/
a {
    color: #000000;
    text-decoration: none;
}
a:hover {
	text-decoration: underline; 
	color: #FF8C00;
}

/* =============== Estilos do mapa =============== */

.ui-autocomplete { 
	background: #fff; 
	border-top: 1px solid #ccc;
	cursor: pointer; 
	font: 15px 'Open Sans',Arial;
	margin-left: 3px;
	width: 800px !important;
	position: fixed;
}

.ui-autocomplete .ui-menu-item { 
	list-style: none outside none;
	padding: 7px 0 9px 10px;
}

.ui-autocomplete .ui-menu-item:hover { background: #eee }

.ui-autocomplete .ui-corner-all { 
	color: #000000 !important;
	display: block;
}
